.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.boardContainer {
  display: none;
  flex-wrap: wrap;
  width: 300px;
}

.boardDiv {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerDisplay {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 65px;
}

.lastModal {
  display: none;
}

.playBtn,
.playAgainBtn {
  font-size: 30px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 25px;
}

.playAgainBtn {
  margin-top: 10px;
}
