.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardContainer {
  margin-top: 100px;
  display: none;
  flex-wrap: wrap;
  width: 300px;
}

.boardDiv {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerDisplay {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 50px;
}
