.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.boardContainer {
  display: none;
  flex-wrap: wrap;
  width: 300px;
}

.boardDiv {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerDisplay {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 50px;
}

.lastModal {
  display: none;
}

.playBtn {
  font-size: 30px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 25px;
}
